body
{
    margin: 0px;
}

.header
{
   background-color: #432F6C;
   display: none;
   justify-content: space-between;
   color: #ffff;
   font-family: "Inter", sans-serif;
   padding: 10px;
   width:400px;
   height:200px;
   margin:0px
}


.bannermenu 
{
    width: 400px;
    margin: 0px;
    height: 200px;
    background-image: url('../img/mob.png');
    background-size: cover;

}

#botao-hamburguer
{
 background-color: transparent;
 border: transparent;
 color: #AEAEAE;
 font-size: 40px;
 height: 30px;
 position: absolute;
 left: 340px;
 top: 5px;
}

.categorias
{

    display: none;
    background-color: #432F6C;
    color: #ffff;
    font-size: 14px;
    font-family: Inter;
}

h1
{
    font-family: Inter;
    color: #0245a8;
    font-size: 25px;
    margin: 15px;
}

.bemvindo
{
    font-family: Inter;
    color: #0245a8;
    font-size: 20px;
    margin-top: 30px;
    margin: 15px;

}

.foto1
{
    width: 160px;
    margin: 20px;
    height: 110px;
    background-image: url('../img/bolsas.jpg');
    background-size: cover;

}

.foto2
{
    width: 160px;
    margin: 20px;
    height: 110px;
    background-image: url('../img/acessorio.jpeg');
    background-size: cover;
}

#fila1
{
    display: flex;
    flex-direction: row;
    
}

.foto3
{
    width: 160px;
    margin: 20px;
    height: 110px;
    background-image: url('../img/sapato.webp');
    background-size: cover;
}

.foto4
{
    width: 160px;
    margin: 20px;
    height: 110px;
    background-image: url('../img/roupas.png');
    background-size: cover;
}

#fila2
{
    display: flex;
    flex-direction: row;
    
}

h2
{
   position: absolute;
   color: #ffff;
   font-family: Inter;
   margin-top: 60px;
   font-size: 18px;
}

button
{
    margin-top: 100px;
    border-radius:10%;
    background-color: #0066FF;
    color: #ffff;
}

h3
{
   color: #000000;
   font-family: Inter;
   font-size: 15px;
   margin: 15px;
}

.femininas
{
  display: flex;
  flex-direction: row;
  width: 360px;
  margin: 15px;
  height: 190px;
  background-color: #DBDBDB;
}

.matelasse
{
    width: 150px;
    margin: 20px;
    height: 120px;
    background-image: url('../img/bolsapreta.jpg');
    background-size: cover;
}

.matelasse h2
{
   position: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 140px;
   font-size: 15px;
}

.camisa
{
    width: 150px;
    margin: 20px;
    height: 120px;
    background-image: url('../img/camisa.png');
    background-size: cover;
}

.camisa h2
{
   position: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 140px;
   font-size: 15px;
}

.Sapato
{
  display: flex;
  flex-direction: row;
  width: 360px;
  margin: 15px;
  height: 190px;
  background-color: #DBDBDB;
}

.tenis
{
    width: 150px;
    margin: 20px;
    height: 120px;
    background-image: url('../img/tenis.png');
    background-size: cover;
}

.tenis h2
{
   position: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 140px;
   font-size: 15px;
}

.tenisp
{
    width: 150px;
    margin: 20px;
    height: 120px;
    background-image: url('../img/tenispreto.png');
    background-size: cover;
}

.tenisp h2
{
   position: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 140px;
   font-size: 15px;
}

.masculinas
{
  display: flex;
  flex-direction: row;
  width: 360px;
  margin: 15px;
  height: 190px;
  background-color: #DBDBDB;
}

.short
{
    width: 150px;
    margin: 20px;
    height: 120px;
    background-image: url('../img/short.png');
    background-size: cover;
}

.short h2
{
   position: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 140px;
   font-size: 15px;
}

.Nike
{
    width: 150px;
    margin: 20px;
    height: 120px;
    background-image: url('../img/camisaNike.png');
    background-size: cover;
}

.Nike h2
{
   position: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 140px;
   font-size: 15px;
}

footer
{
    background-color: #432F6C;
    color: #ffff;
    justify-content: center;
    padding: 2%;
    margin: 0px;
    align-items: center;
    font-family: Inter;
    font-size: 10px;
    margin-top: 70px;

}

.principal
{
    display: none; 
}

.categorias
{
    display: none;
}


























@media (min-width: 1280px){


    .principal
    {
        display: flex;
        background-color: #432F6C;
        height: 30px;
        color: #ffff;
        font-size: 25px;
        flex-direction: row;
        text-align: center;
        font-family: Inter;
        padding: 1%;
        position: relative;


    }

    .menuu a
    {
        margin: 30px;

    }
    

    #botao-hamburguer
    {
        display: none;
    }
    
    .bannermenu 
{
    width: 100%;
    margin: 0px;
    height: 500px;
    background-image: url('../img/banner2.png');
    background-size: cover;

}


    .categorias
{
    display: block;
    background-color: #432F6C;
    height: 40px;
    color: #ffff;
    font-size: 25px;
}


    .pecas
{
   
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.bemvindo
{
    font-family: Inter;
    color: #0245a8;
    font-size: 30px;
    margin-top: 35px;
    margin: 30px;

}

 h1
{
    font-family: Inter;
    color: #0245a8;
    font-size: 30px;
    margin-top: 35px;
    margin: 30px;
}

.foto1
{
    width: 550px;
    margin-right: 100px;
    height: 360px;
    background-image: url('../img/bolsas.jpg');
    background-size: cover;

}

.foto2
{
    width: 550px;
    margin-right: 100px;
    height: 360px;
    background-image: url('../img/acessorio.jpeg');
    background-size: cover;
}

#fila1
{
    display: flex;
    flex-direction: row;
    justify-content:space-around;   
}


.foto3
{
    width: 550px;
    margin-right: 100px;
    height: 360px;
    background-image: url('../img/sapato.webp');
    background-size: cover;
}

.foto4
{
    width: 550px;
    margin-right: 100px;
    height: 360px;
    background-image: url('../img/roupas.png');
    background-size: cover;
}

#fila2
{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    
}

button
{
    margin-top: 300px;
    border-radius:10%;
    height: 40px;
    width: 100px;
    background-color: #0066FF;
    color: #ffff;
}

header button 
{
    position:absolute;
    border-radius:10%;
    background-color: #0066FF;
    color: #ffff;
    right:50%;
}


h2
{
   position: absolute;
   color: #ffff;
   font-family: Inter;
   margin-top: 260px;
   font-size: 40px;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}


.pecas
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}


h3
{
   color: #000000;
   font-family: Inter;
   font-size: 25px;
   margin: 15px;
}


.femininas
{
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
  width: 1800px;
  height: 360px;
  background-color: #DBDBDB;
}

.matelasse
{
    width: 250px;
    margin: 30px;
    height: 250px;
    background-image: url('../img/bolsapreta.jpg');
    background-size: cover;
}

.matelasse h2
{
   position: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 260px;
   font-size: 20px;
}

.camisa 
{
    width: 250px;
    margin: 30px;
    height: 250px;
    background-image: url('../img/camisapreta.jpg');
    background-size: cover;
}


.camisa h2
{
    position: absolute;
    color:#000000;
    font-family: Inter;
    margin-top: 260px;
    font-size: 20px;
}


.camisaB
{
    width: 250px;
    margin: 30px;
    height: 250px;
    background-image: url('../img/camisabranca.webp');
    background-size: cover;
}

.camisaB h2
{
    position: absolute;
    color:#000000;
    font-family: Inter;
    margin-top: 260px;
    font-size: 20px;
}

.camisaV
{
    width: 250px;
    margin: 30px;
    height: 250px;
    background-image: url('../img/camisaV.webp');
    background-size: cover;
}

.camisaV h2
{
   pposition: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 260px;
   font-size: 20px;
}


.Sapato
{
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
  width: 1800px;
  height: 360px;
  background-color: #DBDBDB;
}


.tenis
{
    width: 250px;
    margin: 30px;
    height: 250px;
    background-image: url('../img/tenis.png');
    background-size: cover;
}

.tenis h2
{
   position: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 260px;
   font-size: 20px;
}

.tenisp
{
    width: 250px;
    margin: 30px;
    height: 250px;
    background-image: url('../img/tenispreto.png');
    background-size: cover;
}

.tenisp h2
{
   position: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 260px;
   font-size: 20px;
}

.tenisc
{
    width: 250px;
    margin: 30px;
    height: 250px;
    background-image: url('../img/teniscorrida.png');
    background-size: cover;
}

.tenisc h2
{
   position: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 260px;
   font-size: 20px;
}

.tenisj
{
    width: 250px;
    margin: 30px;
    height: 250px;
    background-image: url('../img/tenisj.png');
    background-size: cover;
}

.tenisj h2
{
   position: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 260px;
   font-size: 20px;
}

.masculinas
{
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
  width: 1800px;
  height: 360px;
  background-color: #DBDBDB;
}


.short
{
    width: 250px;
    margin: 30px;
    height: 250px;
    background-image: url('../img/short.png');
    background-size: cover;
}

.short h2
{
   position: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 260px;
   font-size: 20px;
}


.Nike
{
    width: 250px;
    margin: 30px;
    height: 250px;
    background-image: url('../img/camisaNike.png');
    background-size: cover;
}

.Nike h2
{
   position: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 260px;
   font-size: 20px;
}

.camiseta
{
    width: 250px;
    margin: 30px;
    height: 250px;
    background-image: url('../img/camiseta.webp');
    background-size: cover;
}

.camiseta h2
{
   position: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 260px;
   font-size: 20px;
}

.verde
{
    width: 300px;
    margin: 30px;
    height: 250px;
    background-image: url('../img/verde.webp');
    background-size: cover;
}

.verde h2
{
   position: absolute;
   color:#000000;
   font-family: Inter;
   margin-top: 260px;
   font-size: 20px;
}

footer
{
    background-color: #432F6C;
    color: #ffff;
    justify-content: center;
    padding: 2%;
    margin: 0px;
    align-items: center;
    font-family: Inter;
    font-size: 15px;
    margin-top: 70px;

}

























}
