body
{
    margin: 0px;
}

.header
{
   background-color: #432F6C;
   display: flex;
   justify-content: space-between;
   color: #ffff;
   font-family: "Inter", sans-serif;
   padding: 10px;
   width:400px;
   height:200px;
}

.botao
{
    position: absolute;

}

a
{
  font-size: 30px;
  padding: 10px;
}

#botao-hamburguer
{
 background-color: transparent;
 border: transparent;
 color: #ffff;
 font-size: 30px;
}


.opcao
{
    display: flex;
    flex-direction: row;
}

.caixa
{
   margin: 15px;
}

.cadastro

{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
}

#cadastro
{
    height: 1275px;
    width: 320px;
    padding: 5%;
    border:#0066FF 1px solid;
    align-items: center;
    color: black;
}

input[type="text"]
{
    width: 280px;
    margin: 9px;
    height: 25px;
    padding: 2%;
    border:#0066FF 1px solid; 
    border-radius: 5px;
    color:black;
    align-items: center;
    
}

input[type="checkbox"]
{
    width: 150px;
    margin: 9px;
    height: 25px;
    padding: 1%;
    border:#0066FF 1px solid; 
    border-radius: 5px;
    color:black;
    align-items: center;
    
}

#dupla
{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

label
{
    margin: 10px;
}

h1
{
 font-size: 25px;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10%;
 
 
}

.opcao
{
    display: flex;
    flex-direction: row;
}

.celular
{
    display:none;
}














@media (min-width: 1280px){
    


header 
{
   background-color: #432F6C;
   display: flex;
   justify-content: space-between;
   color: #ffff;
   font-family: "Inter", sans-serif;
   padding: 10px;
   height: 50px;
}

a
{
  font-size: 30px;
  padding: 10px;
  margin: 5px;
}

img
{
    position: relative;
    display: flex;
    justify-content: space-between;
    width:100%;
    height:500px;
}

h1
{
    font-size: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Inter;
}

input[type="text"]
{
    width: 490px;
    margin: 9px;
    height: 25px;
    padding: 2%;
    border:#0066FF 1px solid; 
    border-radius: 5px;
    color:black;
    align-items: center;
    
}

input[type="checkbox"]
{
    width: 150px;
    margin: 9px;
    height: 25px;
    padding: 1%;
    border:#0066FF 1px solid; 
    border-radius: 5px;
    color:black;
    align-items: center;
    
}


.cadastro

{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
}

#cadastro
{
    height: 1275px;
    width: 620px;
    padding: 5%;
    border:#0066FF 1px solid;
    align-items: center;
    color: black;
    display: flex;
    justify-content: center;
}


#dupla
{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

label
{
    margin: 10px;
}

.caixa
{
   margin: 30px;
   display: flex;
   justify-content: center;
}

.cliente
{
   margin: 30px;
   display: flex;
   flex-direction: row;
   width: 1000px;


}

#CADASTRE-SE 
{
    color:black;
    display: flex;
    justify-content: start;
    height: 125px;
    width: 620px;
}


#cadascliente

{
    flex-direction: row;
    justify-content: space-between;
    padding: 10%;
}

#cadascliente
{
    height: 125px;
    width: 620px;
    padding: 5%;
    border:#432F6C 1px solid;
    color: black;
}

.conjunto
{
    display: flex;
   flex-direction: row;
   width: 100%;
}

.moça {
    width: 40%;
    height: 100vh;
    background-image: url('./img/MocaCadastro.png');
    background-size: cover;
    background-repeat: no-repeat;
}














}